@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;

.header {
  background-color: $black-2;

  &Wrapper {
    position: relative;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background-color: transparent;
  }

  img {
    max-height: 25px;
  }
}

.burgerMenuBtn {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 6px 0;

  span {
    width: 16px;
    height: 3px;
    background-color: $white;
  }
}

.cartBtn {
  position: relative;
  padding: 6px 0;
}

.cartItemsCount {
  position: absolute;
  top: 0;
  right: -50%;
  width: 18px;
  height: 18px;
  font-size: 12px;
  border-radius: 50%;
  color: $white;
  background-color: $orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  position: absolute;
  bottom: 0;
  left: -5%;
  width: 110%;
  height: 1px;
  background-color: $white;
  opacity: 0.1;
}

@media (min-width: 768px) {
  .header {
    &Wrapper {
      justify-content: start;
      gap: 42px;
    }
  }

  .cartBtn {
    margin-left: auto;
  }

  .divider {
    left: 0;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .header {
    &Wrapper {
      justify-content: space-between;
    }
  }

  .cartBtn {
    margin: 0;
  }
}
