@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  &Img {
    width: 64px;
    height: 64px;
  }
}

.info {
  display: flex;
  gap: 16px;
}

.textBlock {
  color: $black-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}

.price {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
}
