// ================================== Colors ========================================
$orange-1: #d87d4a;
$black-1: #101010;
$lightgray-1: #f1f1f1;
$lightgray-2: #fafafa;
$orange-2: #fbaf85;
$white: #ffffff;
$black-2: #000000;
