.otherProducts {
  &Wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &List {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
    justify-content: center;
    gap: 56px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 32px;
  }

  .otherProducts {
    &Wrapper {
      gap: 56px;
    }

    &List {
      grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
      gap: 10px;
    }
  }
}

@media (min-width: 1024px) {
  .otherProducts {
    &Wrapper {
      gap: 64px;
    }

    &List {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 30px;
    }
  }
}
