@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;

.btn {
  padding: 15px 30px;
  text-transform: uppercase;
  @include text-preset-8;
  display: flex;
  gap: 13px;
  transition: 0.2s all;

  &-primary {
    background-color: $orange;
    color: $white;

    &:hover {
      background-color: $lightorange;
    }
  }

  &-secondary {
    background-color: transparent;
    color: $black-2;
    border: 1px solid $black-2;

    &:hover {
      background-color: $black-2;
      color: $white;
    }
  }

  &-alternative {
    background-color: transparent;
    color: $gray;

    &:hover {
      color: $orange;
    }
  }
}
