@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;

.btn {
  max-width: 200px;
  padding: 15px 30px;
  text-transform: uppercase;
  @include text-preset-8;
  transition: 0.2s all;
  text-align: center;

  &-filled {
    background-color: $orange;
    color: $white;

    &:hover {
      background-color: $lightorange;
    }
  }

  &-outline {
    background-color: transparent;
    color: $black-2;
    border: 1px solid $black-2;

    &:hover {
      background-color: $black-2;
      color: $white;
    }
  }

  &-text {
    padding: 5px 10px;
    background-color: transparent;
    color: $black-2;
    display: flex;
    align-items: center;
    gap: 13px;

    &:hover {
      color: $orange;
    }

    img {
      width: 5px;
      height: 10px;
    }
  }
}
