.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 100%;
  background-color: white;
  border-radius: 8px;

  &.dropdown {
    max-width: 377px;
    min-height: 284px;
    max-height: 488px;
    margin-top: 24px;
    padding: 32px 28px;
  }

  &.center {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 540px;
    width: 90%;
    min-height: 581px;
    margin: 132px auto 0;
    padding: 32px;
  }

  &Wrapper {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: start;

    &Home {
      padding-top: 90px;
    }
  }
}

@media (min-width: 768px) {
  .modal {
    &.dropdown {
      padding: 32px;
    }

    &.center {
      padding: 48px;
    }
  }
}

@media (min-width: 1024px) {
  .modal {
    &.dropdown {
      margin-top: 32px;
    }

    &.center {
      margin-top: 125px;
    }
  }
}
