@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;

.formSection {
  border: none;
  padding: 16px 0 0;
  margin: 0;
}

legend {
  color: $orange;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}
