@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;

.cartModal {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .cartBtn {
    max-width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clearCartBtn {
  background-color: transparent;
  text-decoration: underline;
}

.productsList {
  position: relative;
  height: 240px;
  padding: 0;
  overflow: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.emptyCartMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.total {
  color: $black-2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &Text {
    text-transform: uppercase;
  }

  &Price {
    @include text-preset-6;
  }
}
