@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;

.navbar {
  display: flex;
  gap: 34px;
  padding: 0;
  list-style: none;

  &Item {
    color: $white;
    @include text-preset-8;
    letter-spacing: 2px;
    padding: 6px 0;
    text-decoration: none;
    transition: 0.2s all;

    &:hover {
      color: $orange;
    }
  }

  button {
    background-color: transparent;
    text-align: left;
  }
}
