@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;

.mainContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 120px 0;

  &Home {
    padding-top: 0;
  }

  &Checkout {
    background-color: $gray;
    padding-top: 48px;
  }
}