@use '/src/styles/modern-normalize.min.scss';
@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: $lightgray;
  @include text-preset-9;
}

.container {
  width: clamp(327px, 90%, 1110px);
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
